<footer>
  <table>
    <tr>
      <td>&copy; 2024 Stagio - CESI. Tous droits réservés.</td>
    </tr>
    <tr>
      <td><a href="{{ base_url }}mention-legal">Mentions légales</a></td>
      <td><a href="{{ base_url }}offre">Offres</a></td>
      <td><a href="{{ base_url }}contact">Contact</a></td>
      <td><a href="{{ base_url }}entreprise">Entreprises</a></td>
    </tr>
  </table>
</footer>
