<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta
      name="description"
      content="Stagio - Découvrez notre offre parmi nos entreprises partenaires."
    />

    <title>Stagio - S'identifier/S'inscrire</title>
  </head>
  <body>
    <header>
      <nav>
        <img src="image/logo.webp" alt="Logo Stagio" />
        <a href="{{base_url}}/">Accueil</a>
        <a href="{{base_url}}offre-index">Offres</a>
        <a href="{{base_url}}a-propos">A propos</a>
      </nav>
    </header>
