<!doctype html>
<html lang="fr">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}Stagio{% endblock %}</title>
    {% block styles %}
      <link rel="stylesheet" href="{{ base_url }}css/main.css" />
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css" />
    {% endblock %}

    <script src="{{ base_url }}js/main.js" defer></script>
    {% block scripts %}{% endblock %}

    <meta name="description" {% block description %} content="Stagio"{% endblock %} />
  </head>
  <body>

    {% block header %}
      {% include 'partials/header.html.twig' %}
    {% endblock %}

    <main>
      {% block content %}{% endblock %}
    </main>

    {% include 'partials/footer.html.twig' %}

<!-- ========================================= -->
<!-- ============ MENU BURGER JS ============= -->
<!-- ========================================= -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const burgers = document.querySelectorAll(".menu-toggle");

    burgers.forEach(function (burger) {
      burger.addEventListener("click", function () {
        const navbar = burger.closest(".navbar");
        if (!navbar) return;

        const navLinks = navbar.querySelector(".nav-links");
        if (!navLinks) return;

        navLinks.classList.toggle("active");
      });
    });
  });
</script>
<!-- ========================================= -->
<!-- ========== FIN MENU BURGER JS =========== -->
<!-- ========================================= -->

  </body>
</html>
