{% extends 'base.html.twig' %}

{% block title %}Stagio - Mes candidatures{% endblock %}

{% block description %}content="Stagio - Suivi des candidatures"{% endblock %}

{% block styles %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ base_url }}css/pages/candidature.css" />
{% endblock %}

{% block content %}
  <div class="candidature-container">
  </div>
{% endblock %}
