{% extends 'base.html.twig' %}

{% block title %}Stagio - Accueil{% endblock %}

{% block description %}content="Stagio - Acceuil"{% endblock %}

{% block content %}

    <main>
      <section>

        <form method="POST" action="/identification">
        
          

          <h1>S'identifier</h1>
          <span>Email</span><br />
          <input
            name="email"
            type="email"
            id="email"
            placeholder="monstage@monstage.fr"
          /><br />
          <span>Mot de passe</span><br />
          <input name="password" type="password" id="password" /><br />

          {% if success %}
           <p>{{ success }}</p>
          {% endif %}
          {% if error %}
          <p>{{ error }}</p>
          {% endif %}

          <button type="submit">S'inscrire</button>
        </form>

      </section>
    </main>

{% endblock %}
