{% extends 'base-index.html.twig' %}

{% block title %}Stagio - Accueil{% endblock %}

{% block description %}content="Stagio - Acceuil"{% endblock %}

{% block styles %}
  {{ parent() }}
  <link rel="stylesheet" href="{{ base_url }}css/pages/identification.css" />
{% endblock %}

{% block content %}

<main>
  <section>

    <form method="POST" action="/identification">

      <h1>S'identifier</h1>

      <span>Email</span><br />
      <input
        name="email"
        type="email"
        id="email"
        placeholder="monstage@monstage.fr"
      /><br />

      <span>Mot de passe</span><br />
      <input name="password" type="password" id="password" /><br />

      {% if success %}
        <div class="alert alert-success">
          {{ success }}
        </div>
      {% endif %}

      {% if error %}
        <div class="alert alert-error">
          {{ error }}
        </div>
      {% endif %}

      <button type="submit">Se connecter</button>
      <a href="/oubliMdp">Mot de passe oublié ?</a>

    </form>

  </section>
</main>

{% endblock %}