{% extends 'base.html.twig' %}

{% block title %}Stagio - S'inscrire{% endblock %}

{% block description %}content="Stagio - Crée un compte"{% endblock %}

{% block content %}

    <main>
      <section>
        <form action="/inscription" method="POST">
          <h1>S'inscrire</h1>
          <span>Nom</span><br />
          <input name="nom" type="text" id="nom" placeholder="Nom" /><br />
          <span>Prenom</span><br />
          <input name="prenom" type="text" id="prenom" placeholder="Prénom" /><br />
          <span>Ecole</span><br />
          <input name="ecole" type="text" id="ecole" placeholder="Ecole" /><br />
          <span>Email</span><br />
          <input
            name="email" 
            type="email"
            id="email"
            placeholder="monstage@monstage.fr"
          /><br />
          <span>Mot de passe</span><br />
          <input name="password" type="password" id="password" /><br />

          {% if erreur %}
           <p>{{ erreur }}</p>
          {% endif %}

          <button type="submit">S'inscrire</button>
        </form>
      </section>
    </main>


{% endblock %}