{% extends 'base.html.twig' %}

{% block title %}Stagio - Inscription{% endblock %}

{% block description %}content="Stagio - Créez votre compte étudiant"{% endblock %}

{% block content %}

  <section>
    <form action="/inscription" method="POST" novalidate>
      <input type="hidden" name="csrf_token" value="{{ csrf_token }}" />

      <h1>Créer un compte</h1>

      {% if erreur %}
        <p class="msg-erreur">{{ erreur }}</p>
      {% endif %}

      <label for="nom">Nom <span aria-hidden="true">*</span></label>
      <input name="nom" type="text" id="nom" placeholder="Dupont" required maxlength="100" />

      <label for="prenom">Prénom <span aria-hidden="true">*</span></label>
      <input name="prenom" type="text" id="prenom" placeholder="Jean" required maxlength="100" />

      <label for="ecole">École</label>
      <input name="ecole" type="text" id="ecole" placeholder="CESI" maxlength="150" />

      <label for="email">Email <span aria-hidden="true">*</span></label>
      <input
        name="email"
        type="email"
        id="email"
        placeholder="monstage@monstage.fr"
        required
        maxlength="150"
        autocomplete="email"
      />

      <label for="password">Mot de passe <span aria-hidden="true">*</span></label>
      <input
        name="password"
        type="password"
        id="password"
        required
        minlength="8"
        autocomplete="new-password"
      />
      <small>Minimum 8 caractères</small>

      <button type="submit">S'inscrire</button>

      <p>Déjà un compte ? <a href="/identification">Se connecter</a></p>
    </form>
  </section>

{% endblock %}
